.centerX {
    width: 800px;
}

.centerY {
    height: 800px;
    margin-top: calc((100vh - 800px) / 2 );
}

#board {
    background-color: #60c4e9;
}

.boardRow {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 800px;
}

.marginBottom {
    margin-bottom: 1vh;
}

.resourceTile {
    display: inline-block;
    margin: 15px 2.5px;
    height: 145px;
    width: 145px;
    background-color: grey;
}

.tileDetails {
    height: 100px;
    width: 100px;
    margin: 22.5px;
}

.tileRollRequirements {
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    width: 100px;
    text-align: center;
    margin: 0px;
}

.tileProbability {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    margin: 0px;
}

.sheep {
    background-color: rgb(170, 220, 90);
}

.wood {
    background-color: rgb(50,150,60);
}

.wheat {
    background-color: rgb(240, 170, 30);
}

.brick {
    background-color: rgb(210, 100, 50);
}

.stone {
    background-color: rgb(180, 200, 200);
}

.robber {
    background-color: rgb(240, 240, 200);
}